
#p1 {

color: white;
font-size: 16;
text-align: center;
}
#p2 {
color:white;
font-size: 16;
 text-align: center;


}
#p3{
color: white; 
font-size: 16;
 text-align: center;


 }

body {
background-image: url(../Pictures/space.png);

}