
body{
	color: white;
	font-weight: bold;
	text-align: center;
	background-image: url(../Pictures/space.png);

}
ol{
	font-size: 20;
	text-align: left;
}
h1{
	font-size: 72;
	color:#9b59b6;
	font-weight: bold;
}
h3{ font-weight: bold;
    font-size:  25;
	color:#9b59b6;
}
